.ant-form-item {
  :deep(.ant-row) {
    flex-wrap: nowrap !important;
  }
}

.ant-table-tbody > tr {
  max-height: 60px;
}

.el-popup-parent--hidden {
  width: calc(100% - 0px) !important;
}

:root {
  --comment-indent: 20px;
}

.comment-node {
  margin-left: calc(var(--comment-indent) * var(--level, 0));
}
